@media (min-width: 32.5rem) {
    h1 {
        font-size: 1.5rem;
      }

    h2 {
        font-size: 1.5rem;
    }

    body {
        margin: 1em auto;
    }

    header {
        grid-template-columns: auto 1fr;
        grid-gap: 20px;
        align-items: center;
    }

    hr.divider-line {
        margin-top: -5px;
    }

    header,
    footer {
        text-align: center;
        border-radius: 15px;
    }
    header img {
        float: right;
    }
}