@media only screen and (min-width: 800px) {
    main{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 12px;
        align-items: center;
        margin: 2em 10em;
    }

    #principle-1, #principle-2, #principle-3{
        grid-row: 1/end;
    }

    #principle-3{
        grid-column: 3/end;
        align-self: stretch;
    }

}