@media only screen and (min-width: 64rem) {
  html {
    max-width: 1240px;
    margin: auto;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
  }

  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  main {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
  }

  .hero {
    height: initial;
    grid-area: 1 / 2 / 3 / 3;
  }

  .hero img {
    height: 100%;
  }

  .joinUs-btn h2 {
    font-size: 3em;
  }

  .news-release {
    grid-area: 3 / 2 / 4 / 3;
  }

  .news-release p {
    font-size: 20px;
  }

  .join {
    grid-area: 3 / 1 / 4 / 2;
    height: initial;
  }

  .join button {
    margin-top: 65%;
    width: 90%;
  }

  .join p {
    margin-top: 25%;
  }

  .event {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 0;
  }

  .weather {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 0;
  }

  .spotlight {
    grid-area: 1 / 3 / 4 / 4;
    height: initial;
  }

  .spotlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .spotlight1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 0;
  }

  .spotlight2 {
    background-color: var(--primary-color);
    padding: 0.5em;
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5px;
  }

  .spotlight3 {
    background-color: var(--primary-color);
    padding: 0.5em;
    grid-area: 3 / 1 / 4 / 2;
    display: initial;
    margin-top: 5px;
  }
}
