@media screen and (min-width: 32rem) {
  #logo img {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: 5px solid #bf4b3d;
  }

  #logo-nav {
    justify-content: space-between;
  }

  .home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    padding: 1em;
  }

  .hero {
    grid-area: 1 / 1 / 2 / 5;
  }

  .joinUs-btn h1 {
    font-size: 4em;
    margin-top: -30%;
  }

  .joinUs-btn button {
    margin-top: -18%;
    font-size: 1.5em;
  }

  .news-release {
    grid-area: 2 / 1 / 3 / 5;
    margin-top: -60px;
  }
  
  .news-release {
    font-size: 26pt;
  }

  .news-release p {
    font-size: 25px;
  }

  .join {
    position: relative;
    background-color: #353535;
    grid-area: 4 / 1 / 5 / 5;
    display: initial;
    padding: 0.5em;
    text-align: center;
  }

  .join p {
    margin-left: 10%;
    width: 75%;
    font-size: 20pt;
  }

  .join button {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #bf4b3d;
    border: none;
    border-radius: 15px;
    box-shadow: 6px 6px 8px lightgray;
    color: white;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--heading-font);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    width: 300px;
  }

  .join p {
    position: absolute;
    margin-top: 20px;
    font-size: 25pt;
  }

  .event {
    grid-area: 5 / 1 / 6 / 4;
    margin-right: 5px;
  }

  .weather {
    grid-area: 5 / 4 / 6 / 5;
    margin: initial;
    margin-left: 10px;
    padding: 1em;
  }

  .spotlight {
    grid-area: 3 / 1 / 4 / 5;
  }

  .spotlight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .spotlight1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 5px;
  }

  .spotlight2 {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 5px;
    margin-top: 0px;
  }

  .footer-upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }

  .name-address {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .footer-upper img {
    grid-area: 1 / 1 / 3 / 2;
  }

  .site-name {
    grid-area: 1 / 2 / 2 / 3;
  }

  .address {
    grid-area: 2 / 2 / 3 / 3;
  }

  .footer-lower {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-name,
  .wdd-project {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
  }

  .lastupdated-footer {
    margin-top: 5px;
  }


  /*-----------Discover Page CSS------------ */
  #photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .photo img {
    transition: 1s ease;
  }
  
  .photo img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }

  /* -------------------next page------------- */


}